# ==========================================
# Pliki generowane przez Intel/Altera Quartus
# ==========================================

# Bazy danych syntezy (Najcięższe pliki!)
db/
incremental_db/

# Foldery z plikami wyjściowymi i raportami
output_files/
simulation/
greybox_tmp/
hc_output/
timing/

# Pliki obszaru roboczego (ustawienia okienek UI, specyficzne dla Twojego PC)
*.qws

# Kopie zapasowe i pliki tymczasowe Quartusa
*.bak
*.kpt
*.done
*.rpt
*.smsg
*.summary
*.jdi
*.pin
*.qdf
*.sof
*.pof
*.jam
*.jbc

# Ewentualne pliki z ModelSim/QuestaSim (jeśli używasz)
work/
transcript
*.wlf
modelsim.ini